In [2]:
x= 1.0
my_variable=12.2
print(my_variable)

12.2

In [3]:
#type(x)
type(my_variable)

float

In [4]:
a,b,c=5,3.2, "hello"

print(a)
print(b)
print(c)

5
3.2
hello

In [5]:
x=y=z="same"
print(x)
print(y)
print(z)

same
same
same

In [6]:
#boolean
b1=True
b2=False
type(b1)

bool

In [9]:
x=1.0
#check if the variable x is a float
type(x) is int

False

In [21]:
#complex number
x=1.0-1.0j
type(x)

complex

In [48]:
x=1.0
isinstance(x,float)

True

In [42]:
strings= "This is Python"
char= "C"
type(char)

str

In [49]:
True and False

False

In [51]:
print("AND")

AND

In [53]:
X=True
y=False

print('x and y is', x and y)
print('x or y is', x or y)
print('not x is', not x)

x and y is False
x or y is 1.0
not x is False

In [60]:
s="hello world"
#length of the string: the number of characters
len(s)

11

In [62]:
#replace a substring in a string with something else 
s2= s.replace("world", "test")
print(s2)

hello test

In [63]:
s[0]

'h'

In [64]:
s[0:5]

'hello'

In [65]:
s[4:5]

'o'

In [66]:
s[:]

'hello world'

In [67]:
s[:5]

'hello'

In [68]:
s[6:]

'world'

In [69]:
s[::2]

'hlowrd'

In [70]:
my_list=[] #create my list
print(my_list)
my_list=[1,2,3,'example', 3.132] #create list with data
print(my_list)

[]
[1, 2, 3, 'example', 3.132]

In [73]:
my_list =[1,2,3]
print(my_list)
my_list.append([555,12])  #append as a single element
print(my_list)
my_list.extend([32, 'hello'])
print(my_list)
my_list.insert(1,'insert_example') #add element i
print(my_list)

[1, 2, 3]
[1, 2, 3, [555, 12]]
[1, 2, 3, [555, 12], 32, 'hello']
[1, 'insert_example', 2, 3, [555, 12], 32, 'hello']

In [86]:
my_list=[1,2,3,'example',3.132,10,30]
del my_list[5] #delete element at index 5
print(my_list)
my_list.remove('example') #remove element with value
print(my_list)
a=my_list.pop(1)
print('Popped element: ',a,' List remaining:',my_list)
my_list.clear() #empty the list
print(my_list)

[1, 2, 3, 'example', 3.132, 30]
[1, 2, 3, 3.132, 30]
Popped element:  2  List remaining: [1, 3, 3.132, 30]
[]