In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
play_data = pd.read_csv('PlayTennis.csv')
play_data.head()

    Outlook Temperature Humidity    Wind Play_Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

# Entropy(play)=-p(Yes).log2p(Yes)-p(No).log2p(No)

In [7]:
play_data.Play_Tennis.value_counts()

Yes    9
No     5
Name: Play_Tennis, dtype: int64

In [8]:
Entropy_Play = -(9/14)*np.log2(9/14) - (5/14)*np.log2(5/14)

In [9]:
Entropy_Play

0.9402859586706311

In [11]:
play_data[play_data.Outlook=='sunny']

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Wind, Play_Tennis]
Index: []

In [12]:
#Entropy([Play/Outlook=Sunny])
Entropy_Play_Outlook_Sunny = -3/5*np.log2(3/5)-(2/5)*np.log2(2/5)

In [13]:
Entropy_Play_Outlook_Sunny

0.9709505944546686

In [14]:
play_data[play_data.Outlook=='overcast']

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Wind, Play_Tennis]
Index: []

In [26]:
play_data[play_data.Outlook=='rainy']

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Wind, Play_Tennis]
Index: []

In [27]:
Entropy_Play_Outlook_Rain = -2/5*np.log2(2/5)-(3/5)*np.log2(3/5)

In [28]:
Entropy_Play_Outlook_Rain

0.9709505944546686

In [30]:
Entropy_Play_Outlook_Sunny-3/5*(0)-(2/5)*0

0.9709505944546686

In [31]:
Entropy_Wind_False=-(1/3)*np.log2(1/3)-(2/3)*np.log2(2/3)

In [32]:
Entropy_Wind_False

0.9182958340544896

In [35]:
Entropy_Play_Outlook_Sunny-(3/5)*Entropy_Wind_False-(2/5)*1

0.01997309402197489

In [37]:
Entropy_Play_Outlook_Sunny-(2/5)*0-(1/5)*0-(2/5)*1

0.5709505944546686

In [39]:
play_data[(play_data.Outlook == 'sunny') & (play_data.Humidity == 'high')]

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Wind, Play_Tennis]
Index: []